<p>
  <strong>User:</strong>
  <%= @user.fname %>
  <%= @user.lname %>
</p>

<div> <% @list = @user.posts.all %>
	<% @list.each do | post | %>
	<p class="posts">
	<%= @user.fname %> <br>
	<%= post[:content] %>
	</p>
    <br>
	<% end %> 
</div>

<a href="/users"> User's Page</a>

