body {
	background: url('images/boom2.png') no-repeat;
}


/*@import "compass/css3";

img.cover {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*body {
	background-image: url("images/boom2.png");
	background-size: cover;

}*/


/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
